*,
*::after,
*::before {
    /*::after,*::before perchè * non copre questi pseudo elementi*/
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /*eredita tutto ciò che viene messo nel box sizing del body*/
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: $description_fs;
    font-weight: $description_fw;
    a:hover {
        cursor: pointer;
    }
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}