.box {
    min-height: 50rem;
    width: 100%;
    justify-content: flex-start;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import './_variables';
//base
@import './_base';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// flag-icons
@import "/node_modules/flag-icons/css/flag-icons.min.css";
// Font-Awesome
// @import "~@fortawesome/fontawesome-free/scss/fontawesome";
// @import "~@fortawesome/fontawesome-free/scss/regular";
// @import "~@fortawesome/fontawesome-free/scss/solid";
// @import "~@fortawesome/fontawesome-free/scss/brands";